@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
    // Colors

    // Primary

    --colorp_1: hsl(215, 51%, 70%);
    --colorp_2: hsl(178, 100%, 50%);
    // ### Neutral

    --color_bg: hsl(217, 54%, 11%);
    --card_bg: hsl(216, 50%, 16%);
    --color_line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
}

h1,
h2,
h4,
p {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: var(--color_bg);
    min-width: 16.25rem;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 99vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}



// STYLE SITE

.card {
    width: 17.81rem;
    background-color: var(--card_bg);
    border-radius: 10px;

    //IMG

    .profile {

        text-align: center;
        position: relative;
        background-image: url(../images/image-equilibrium.jpg);
        width: 240px;
        height: 240px;
        background-position: center center;
        background-size: 100%;
        margin: 1rem auto;
        border-radius: 10px;
    }

    .profile:hover {
        background-image: url(../images/icon-view.svg), linear-gradient(rgba(150, 150, 150, 0.4)), url(../images//image-equilibrium.jpg);
        background-size: 40%, 100%, 100%;
        background-repeat: no-repeat;
        transition: 0.3s;
    }
}


.text_card {

    h1 {
        padding: .8rem 1.5rem 0 1.5rem;
        color: var(--colorp_2);
        font-size: 18px;
    }

    p {
        color: var(--colorp_1);
        font-size: 14px;
        padding: .8rem 1.5rem 1rem 1.5rem;
    }
}

.flex_text {
    display: flex;
    justify-content: space-between;
    margin-left: 5px;
    padding: 0 1.5rem;

    h4 {
        display: flex;
        align-items: center;
        text-indent: 5px;
        font-size: 14px;
        color: var(--colorp_2);
    }

    p {

        display: flex;
        align-items: center;
        color: var(--colorp_1);
        text-indent: 5px;
        font-size: 14px;
        padding-right: .5rem;
    }
}

.bar {
    width: 240px;
    height: 1px;
    background-color: var(--color_line);
    margin: 1rem auto;
}

.profile-b {
    display: flex;
    padding: 0 1.5rem 1rem 1.5rem;
    align-items: center;
    font-size: 13px;
    text-indent: 15px;
    color: var(--colorp_1);
    font-weight: 300;

    strong {
        color: var(--white);
        font-weight: 300;
    }

    img {
        width: 25px;
        border: 1px solid white;
        border-radius: 100%;
    }
}

.attribution {
    margin-top: 2rem;
    font-size: 18px;
    text-align: center;
    color: var(--white);
}

.attribution a {
    text-decoration: none;
    color: var(--colorp_1)
}

.attribution a:hover {
    text-decoration: underline;
    color: blue
}